In [1]:
import numpy as np
import pandas as pd

EXAMPLE_SEQ = "AUGGACAAGAAGUACUCCAUCGGCCUUGACAUUGGCACUAAUUCCGUCGGUUGGGCCGUGAUCACUGAUGAGUACAAGGUCCCGUCCAAGAAAUUCAAGGUGCUGGGUAACACCGAUCGACAUAGUAUCAAGAAGAACUUGAUCGGCGCCUUGCUGUUCGAUUCAGGCGAGACGGCGGAGGCCACUCGCCUGAAGCGAACAGCAAGGCGCCGAUACACGCGGCGGAAGAAUCGGAUAUGCUACCUCCAGGAGAUAUUCUCGAACGAGAUGGCGAAGGUGGACGACUCGUUCUUCCACCGCCUCGAGGAGAGCUUUCUCGUCGAGGAGGACAAGAAGCACGAGCGCCACCCCAUCUUCGGGAAUAUCGUCGACGAGGUAGCAUAUCACGAGAAGUAUCCGACUAUCUACCAUCUUCGGAAGAAGUUGGUAGAUAGUACGGAUAAGGCCGACCUGCGCCUUAUCUAUUUGGCGUUGGCCCAUAUGAUCAAGUUUCGAGGACACUUCCUGAUCGAGGGUGAUCUCAAUCCAGAUAAUAGCGAUGUGGACAAGCUGUUCAUACAGCUUGUCCAGACGUACAACCAGCUCUUCGAGGAGAACCCUAUCAACGCCUCGGGUGUGGACGCCAAGGCCAUACUUAGUGCGCGGCUGUCCAAGUCGCGCCGCUUGGAGAAUCUGAUCGCCCAGCUGCCGGGUGAGAAGAAGAACGGCCUGUUCGGCAAUCUGAUAGCCCUCUCGCUCGGCCUUACGCCAAAUUUCAAGUCGAACUUCGACCUCGCUGAGGAUGCGAAGCUUCAGUUGAGCAAGGACACCUAUGAUGAUGAUCUUGACAACCUCCUCGCUCAGAUCGGCGACCAGUACGCCGAUCUCUUCCUGGCGGCGAAGAAUCUGAGCGAUGCAAUUCUCCUGAGUGACAUUCUGAGGGUGAAUACUGAAAUUACGAAGGCUCCGCUGUCUGCCAGCAUGAUCAAGCGGUACGAUGAGCAUCACCAGGACCUGACGCUCCUCAAGGCUCUCGUCCGUCAGCAGCUCCCGGAGAAGUACAAGGAGAUCUUCUUCGACCAGUCGAAGAACGGAUACGCCGGGUACAUCGACGGGGGCGCUUCCCAGGAGGAGUUUUAUAAGUUUAUAAAGCCCAUCCUGGAGAAGAUGGACGGGACCGAGGAGCUCCUGGUGAAGCUCAACCGCGAGGAUCUGCUGCGCAAGCAGCGGACCUUCGAUAAUGGCAGUAUUCCCCAUCAGAUUCACUUAGGAGAGUUGCACGCGAUUCUUCGCCGCCAGGAAGACUUCUACCCCUUCCUCAAAGAUAACAGGGAGAAGAUCGAGAAGAUCCUCACCUUCCGCAUCCCGUAUUACGUGGGUCCCCUGGCGCGGGGGAACUCACGUUUUGCGUGGAUGACGCGGAAGAGUGAGGAGACGAUCACUCCCUGGAACUUUGAGGAAGUGGUAGACAAGGGUGCUUCGGCACAGUCCUUCAUCGAGCGGAUGACAAAUUUUGACAAGAAUUUGCCGAACGAGAAGGUCUUGCCGAAGCACUCGCUGCUUUACGAGUACUUUACGGUUUACAACGAGUUGACGAAGGUCAAGUACGUCACUGAGGGAAUGCGGAAGCCCGCAUUCCUCAGUGGCGAACAGAAGAAGGCCAUCGUCGACUUGUUGUUCAAGACGAACCGUAAAGUAACCGUGAAGCAGCUGAAGGAGGACUACUUCAAGAAGAUUGAGUGUUUCGACUCGGUGGAGAUUUCAGGAGUUGAGGACCGCUUUAAUGCCUCCCUCGGUACGUAUCAUGAUCUCCUCAAGAUUAUCAAGGAUAAGGACUUCCUUGAUAAUGAGGAGAAUGAGGAUAUUCUCGAGGACAUUGUGCUGACCCUCACCCUGUUCGAAGACCGUGAGAUGAUUGAGGAACGGUUGAAGACCUACGCUCAUCUGUUUGAUGACAAGGUCAUGAAGCAGUUGAAGCGUAGGCGUUAUACCGGCUGGGGUCGUCUUUCCCGAAAGCUUAUCAACGGGAUCCGUGAUAAGCAGUCGGGAAAGACGAUCCUAGACUUCCUCAAGUCUGACGGUUUUGCGAACAGGAACUUCAUGCAGCUCAUCCACGACGACUCCUUGACCUUCAAGGAGGAUAUCCAGAAGGCGCAGGUGAGCGGCCAGGGCGAUAGCUUGCACGAGCAUAUCGCGAACCUGGCCGGCUCACCUGCGAUCAAGAAGGGUAUCCUCCAGACGGUCAAGGUCGUGGAUGAGCUCGUGAAGGUGAUGGGUCGGCACAAGCCCGAGAAUAUCGUCAUCGAGAUGGCUCGCGAGAAUCAGACGACCCAGAAGGGUCAGAAGAAUUCUCGCGAGCGCAUGAAGCGUAUCGAGGAGGGCAUUAAAGAGCUCGGUUCUCAAAUCCUGAAAGAGCACCCAGUCGAGAACACUCAGCUUCAGAACGAGAAGCUCUACCUCUAUUACUUGCAGAACGGGCGGGACAUGUAUGUCGAUCAGGAGUUGGACAUCAAUAGGCUCUCGGACUACGAUGUGGACCACAUCGUUCCGCAGAGCUUUUUGAAGGACGACUCCAUCGACAACAAGGUCCUGACCCGUUCUGACAAGAAUAGAGGUAAGAGCGACAACGUUCCGAGCGAGGAGGUUGUCAAGAAGAUGAAGAAUUAUUGGCGUCAGUUGCUCAACGCGAAGCUCAUCACUCAGCGGAAGUUCGACAAUUUGACGAAGGCCGAGCGAGGAGGGCUGUCAGAGCUGGACAAGGCCGGCUUCAUCAAACGGCAGCUGGUGGAGACGCGUCAGAUUACCAAGCACGUGGCGCAGAUCUUGGACAGCCGCAUGAACACUAAGUAUGACGAGAAUGACAAGCUUAUUCGGGAGGUCAAGGUCAUUACCCUUAAGUCGAAGCUCGUCAGCGACUUUCGCAAGGAUUUUCAGUUUUAUAAAGUUCGUGAGAUAAACAAUUAUCACCAUGCCCACGACGCGUACCUGAACGCCGUCGUGGGCACGGCGCUGAUAAAGAAGUACCCGAAGCUGGAGUCCGAGUUCGUUUAUGGCGAUUAUAAGGUGUACGACGUGCGCAAGAUGAUCGCCAAGAGCGAGCAGGAGAUCGGAAAGGCUACGGCGAAGUACUUCUUUUACAGCAACAUCAUGAACUUUUUUAAGACUGAGAUCACCCUUGCGAAUGGCGAGAUCCGCAAGCGCCCGUUGAUCGAGACGAACGGGGAGACUGGGGAGAUUGUGUGGGAUAAGGGUCGGGAUUUCGCUACGGUGAGAAAGGUUCUUUCGAUGCCCCAGGUCAACAUCGUCAAGAAGACGGAGGUUCAGACCGGGGGCUUCUCGAAAGAAUCUAUCUUACCGAAGCGAAAUUCCGACAAGCUUAUCGCACGCAAGAAGGACUGGGACCCCAAGAAGUACGGGGGGUUCGACAGUCCUACGGUGGCCUACUCCGUGUUGGUGGUCGCCAAGGUUGAGAAGGGCAAGAGCAAGAAGCUCAAGUCCGUCAAGGAGCUCUUGGGGAUCACCAUCAUGGAGAGGUCAUCGUUUGAGAAGAAUCCUAUUGACUUCCUUGAAGCCAAGGGCUACAAGGAAGUCAAGAAGGAUUUGAUCAUCAAGCUCCCCAAGUACUCCCUGUUCGAGCUCGAGAACGGGCGCAAGCGGAUGCUCGCCAGCGCUGGCGAGCUUCAGAAGGGUAAUGAGCUUGCCCUCCCGAGUAAGUAUGUCAACUUCUUGUACUUGGCGUCCCACUACGAGAAGUUGAAGGGUUCUCCCGAAGACAACGAGCAGAAGCAGCUGUUCGUUGAGCAGCACAAGCAUUAUCUGGAUGAGAUCAUCGAGCAGAUCAGCGAGUUCUCGAAGCGGGUCAUAUUGGCCGACGCCAAUCUAGAUAAGGUGCUGUCGGCCUACAACAAGCACCGAGAUAAGCCAAUACGUGAGCAGGCGGAGAACAUCAUCCACCUGUUCACGUUGACUAAUCUCGGUGCUCCCGCCGCGUUCAAGUACUUCGAUACUACGAUCGAUCGGAAGCGUUACACCAGCACCAAGGAGGUCUUGGACGCGACCUUGAUUCAUCAGUCGAUCACCGGCCUAUACGAGACCCGCAUUGAUUUGUCGCAGCUGGGCGGUGACAAGCGCCCAGCUGCGACAAAGAAAGCGGGUCAGGCGAAGAAGAAGAAGGACUACAAGGACGACGACGACAAGGGCUCAGGAGCCACGAACUUCUCGUUGCUGAAGCAGGCCGGCGAUGUAGAGGAGAAUCCCGGCCCCAUGGCCAAGCCGCUGUCCCAGGAGGAGUCGACGUUGAUCGAGCGGGCGACCGCUACGAUCAACUCGAUUCCUAUCUCGGAGGACUACUCAGUUGCGAGCGCGGCCCUCUCGUCAGAUGGUAGAAUAUUCACGGGGGUGAAUGUCUACCAUUUCACGGGAGGGCCGUGCGCGGAGCUGGUAGUCCUCGGGACAGCGGCGGCCGCGGCGGCCGGGAAUCUCACCUGCAUCGUGGCCAUCGGCAACGAGAAUCGUGGCAUCCUGAGCCCUUGUGGUCGUUGUCGUCAGGUCCUUCUUGAUCUUCACCCCGGAAUUAAGGCCAUUGUCAAGGACUCCGAUGGACAGCCCACCGCCGUAGGCAUUCGGGAGCUGCUCCCGAGUGGCUACGUGUGGGAGGGCUGA"
LABEL = 0.79
CODON_USAGE_TABLE = "./codon_usage_freq_table_human.csv"

In [45]:
def get_c_max(group):
    group['c_max'] = group['X'].max()
    group.drop('AA', axis=1, inplace=True)
    return group

codon_tab = pd.read_csv(CODON_USAGE_TABLE)
codon_tab['AA'] = codon_tab["Unnamed: 1"]
codon_tab["X"] = codon_tab["Unnamed: 2"]
codon_tab.drop(["Unnamed: 1","Unnamed: 2"], axis=1, inplace=True)
codon_tab = codon_tab.groupby('AA').apply(get_c_max).reset_index(drop=True).set_index("#")
codon_tab

        X  c_max
#
UAA  0.28   0.52
UAG  0.20   0.52
UGA  0.52   0.52
GCU  0.26   0.40
GCC  0.40   0.40
..    ...    ...
GUA  0.11   0.47
GUG  0.47   0.47
UGG  1.00   1.00
UAU  0.43   0.57
UAC  0.57   0.57

[64 rows x 2 columns]

In [46]:
codon_tab.loc['UAA']

X        0.28
c_max    0.52
Name: UAA, dtype: float64

In [55]:
from math import log2

cai = 0.0
for i in range(0, len(EXAMPLE_SEQ), 3):
    codon = EXAMPLE_SEQ[i : i + 3]
    w_i = codon_tab.loc[codon, "X"] / codon_tab.loc[codon, "c_max"]
    cai += log2(w_i)

answer = 2 ** (cai / (len(EXAMPLE_SEQ)  / 3 -1 ))
answer

0.7583767086329513

In [56]:
codon_tab.to_csv('CAI_table.csv')